snippet m.d "Mocha describe"
describe('$1', () => {
	$2
});
endsnippet

snippet m.it "Mocha it"
it('${1:}', () => {
	$2
});
endsnippet

snippet m.be "Mocha beforeEach"
beforeEach(() => {
	$1
});
endsnippet

snippet m.ae "Mocha afterEach"
afterEach(() => {
	$1
});
endsnippet

snippet m.b "Mocha before"
before(() => {
	$1
});
endsnippet

snippet m.a "Mocha after"
after(() => {
	$1
});
endsnippet
