snippet tsdis  "Disable all rules for the rest of the file"
/* tslint:disable */
endsnippet

snippet tsen "Enable all rules for the rest of the file"
/* tslint:enable */
endsnippet

snippet tsrl "Disable the listed rules for the rest of the file"
/* tslint:disable:${1:rule1} ${2:rule2} */
endsnippet

snippet tsnl "Disable next line"
/* tslint:disable-next-line */
endsnippet

snippet	tsline "Disable this line"
/* tslint:disable-line */
endsnippet
