snippet tsen "Disable all rules for the rest of the file"
/* tslint:disable */
endsnippet

snippet tsdis "Enable all rules for the rest of the file"
/* tslint:enable */
endsnippet

snippet tsrule "Disable the listed rules for the rest of the file"
/* tslint:disable:${1:rule1} ${2:rule2} */
endsnippet
