# logger stuff
snippet loggerInfo "Logger Info"
${1:$}logger->info(${2:message})
endsnippet
	
snippet loggerError "Logger Error"
${1:$}logger->error(${2:message})
endsnippet

snippet loggerDebug "Logger Debug"
${1:$}logger->debug(${2:message})
endsnippet
