snippet apiGET "apidoc - GET Template"
/**
 * @api {${1:get}} /${2:route} ${3:APITitle}
 * apiName${4:}
 * apiGroup${5:}
 * apiDescription${6:}
 * apiPermission${7:}
 * apiHeader${8:}
 * apiHeaderEx${9:}
 * apiSuccess${10:}
 *
 * apiSuccessExample${11:}
 */
endsnippet
