snippet @header "JsDoc header block"
/**
 * @file `!v expand('%:t')` - ${1: description }
 * @author Michael Robertson
 * @version 1.0.0
 * created: `!v strftime("%m/%d/%Y")`
 * lastModified: `!v strftime("%m/%d/%Y")`
 */
endsnippet
